@import url(https://fonts.googleapis.com/css?family=Roboto:300);

html, body {
  margin: 0;
  background-color: black;
  min-height: 100%;
}

#content-header {
  background: black none repeat scroll 0 0;
  color: white;
  float: none;
  margin: 0;
  width: 100%;
  height: 70px;
  padding: 2px 2px 1px 3px;
  overflow: hidden;
  display: flex;
}

.dv-header-title {
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  font-size: 19pt;
  width: 100%;
  margin: 4px;
}

.p-title-shown {
  visibility: visible;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  font-size: 24px;
  width: 100%;
}

.p-title-hidden {
  visibility: hidden;
  display: none;
}

.main-content {
 height: calc(100% - 50px); 
 background-color: black;
}

#graphics {
  overflow: hidden;
  width: 100%;
  height: 200px;  
  background: black;
}

@media (min-height: 550px) {
  #graphics {
    height: 410px;
    width: 100%;
    overflow: hidden;
    background: black;
  }
}

@media (min-height: 600px) {
  #graphics {
    height: 480px;
    width: 100%;
    overflow: hidden;
    background: black;
  }
}

@media (min-height: 736px) {
  #graphics {
    height: 580px;
    width: 100%;
    overflow: hidden;
    background: black;
  }
}

@media (min-height: 768px) {
  #graphics {
    height: 620px;
    width: 100%;
    overflow: hidden;
    background: black;
  }
}

@media (min-height: 1024px) {
  #graphics {
    height: 840px;
    width: 100%;
    overflow: hidden;
    background: black;
  }
}

@media (min-height: 1300px) {
  #graphics {
    height: 1200px;
    width: 100%;
    overflow: hidden;
    background: black;
  }
}

canvas {
  width: 100%;
  height: 100%;
}

#time-slider {
#  height: 100px;
#  width: 100%;
#}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  margin-top: 18px;
  width: 99%;              /* Specific width is required for Firefox. */
  background: transparent;
#  background-image: url("../images/slider-background.png");
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #fff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

footer {
  font-family: "Roboto", sans-serif;
  position: absolute;
  bottom: 0;
  height: 35px;
  width: 100%;
  border: 0;
  overflow: hidden;
  background-color: black;
}

footer ul {
  float: left;
  max-width: 80%;
  min-height: 16px;
  padding: 4px 0;
}

footer ul li {
  color: white;
  display: inline;
  padding: 0;
  padding-right: 1.5em;
}

footer a {
  color: white;
  text-decoration: none;
}

.sg-footer {
  padding-top: 7px;
  font-size: .85em;
  white-space: nowrap;
  line-height: 0;
  padding: 0 44px;
}
