@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
  margin: 0;
  background-color: #6GA;
}

#main-header {
  background: #eee none repeat scroll 0 0;
  float: none;
  margin: 0;
  width: 100%;
  height: 50px;
  padding: 2px 0 1px 3px;
  overflow: hidden;
  display: flex;
}

#commentary {
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  font-size: 24px;
  width: 70%;
}

#graphics {
  overflow: hidden;
  width: 100%;
  height: 300px;  
  background: black;
}

#time-slider {
  height: 200px:
  width: 100%;
  
}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  margin: 18px 0;
  width: 100%;              /* Specific width is required for Firefox. */
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
  background-image: url("../images/slider-background.png");
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

footer {
  font-family: "Roboto", sans-serif;
  position: absolute;
  bottom: 0;
  height: 35px;
  width: 100%;
  border-top: 1px solid #e5e5e5;
  overflow: hidden;
  background-color: #F2F2F2;
}

footer ul {
  float: left;
  max-width: 80%;
  min-height: 16px;
  padding: 4px 0;
}

footer ul li {
  color: #737373;
  display: inline;
  padding: 0;
  padding-right: 1.5em;
}

footer a {
  color: #737373;
  text-decoration: none;
}

.sg-footer {
  padding-top: 7px;
  font-size: .85em;
  white-space: nowrap;
  line-height: 0;
  padding: 0 44px;
}
